:root {
    --red: #b73225;
    --blue: #004E7C;
    --brown: #591C0B;

    --grey: #666666;
    --lightGrey: #919191;
    --veryLightGrey: #D5D5D5;
    --almostWhiteGrey: #F5F5F5;
    --black: #333333;

    --oxfordBlue: #364553;
    --astronaut: #264B6E;
    --hoki: #6885A1;
    --astral: #386EA1;
    --cornflower: #9AC5ED;
    --maxWidth: 1280px;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    position: relative;
    min-height: 100vh;
    color: var(--black);
}

hr {
    border: 0;
    height: 8px;
    background-color: var(--astronaut);
}

img {
    max-width: 100%;
}

a {
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--oxfordBlue);
}
